/* BASIC STYLES HERE */
label {
  display: block;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.creator {
  height: 10vh;
  width: 10vh;
  object-fit: cover;
}

.car-img {
  height: 50vh;
  width: 50vw;
  object-fit: cover;
  object-position: center;
}

.house-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.card {
  border: 2px solid darkslategray;
  background-color: grey;
  color: whitesmoke;
  text-shadow: 1px 1px 1px darkslategray;
}